.color-circle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
    border: 2px solid transparent;
    transition: border 0.2s;
}
.color-circle:hover {
    border: 2px solid #000;
}
